@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary: #fde68a;
  --secondary: #047857;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary);
}

.container {
  text-align: center;
  width: 60%;
  margin: auto;
  background-color: ;
  padding: ;
}

label {
  display: block;
  padding-bottom: 0.2rem;
}

input {
  width: 150px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border-color: gray;
  border: none;
  border: 2px solid gray;
}

#check-btn {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  font-weight: bold;
  outline-style: none;
  background-color: #b91c1c;
  color: white;
  border: none;
}
