@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary: ;
  --secondary: ;
}

body {
  margin: 0;
}

.container {
  text-align: center;
  width: 60%;
  margin: auto;
  background-color: ;
  padding: ;
}

label {
  display: block;
  padding-bottom: 0.2rem;
}

input {
  width: 150px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border-color: blue;
  outline-style: none;
}

#check-btn {
  display: block;
  margin: auto;
}
